{% extends "template.html" %}

{% block content %}
    <div class="container" id="content">
    	<div class="row">
			<div class="span3 bs-docs-sidebar">
				<ul class="nav nav-tabs nav-stacked bs-docs-sidenav">
					
					{% if catalog %}						
					    {% load mptt_tags %}
                        {% if LANGUAGE_CODE == 'ru' %}
    			            {% recursetree catalog %}
    			                <li>
    			                    <a href="{% url service-page id=node.id slug=node.slug_ru %}">{{ node.title_ru }}</a>
    			                    {% if not node.is_leaf_node %}
    			                        <ul class="children">
    			                            {{ children }}
    			                        </ul>
    			                    {% endif %}
    			                </li>
    			            {% endrecursetree %}
    			         {% else %}
    			             {% recursetree catalog %}
                                <li>
                                    <a href="{% url service-page id=node.id slug=node.slug_en %}">{{ node.title_en }}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children">
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
    			         {% endif %}
			        {% endif %}
					
					<!-- 
					<li><a href="#programs"><i class="icon-chevron-right"></i> Проведение программ</a></li>
					<li><a href="#transport"><i class="icon-chevron-right"></i> Транспорт</a></li>
					<li><a href="#visa-support"><i class="icon-chevron-right"></i> Визовая поддержка</a></li>
					<li><a href="#hotel-booking"><i class="icon-chevron-right"></i> Бронирование гостиниц</a></li>
					<li><a href="#city-tour"><i class="icon-chevron-right"></i> Сити тур</a></li>
	 -->
				</ul>
				&nbsp;
			</div>
	
			<div class="span9">
				{{ page.title_ru }}
				
				{% for child in  children %}
				    <div>
				    {% if LANGUAGE_CODE == 'ru' %}
				        {{ child.title_ru }}
				    {% else %}
				        {{ child.title_en }}
				    {% endif %}
				    </div>
				    
				{% empty %}
				    no children
				{% endfor %}
			</div>
		</div>
    </div>
    	
{% endblock %}