		
		<h1>Добро пожаловать в Центральную Азию</h1>
		<div class="row" style="margin-bottom:20px;">
			<div class="span6">
	
				<p style="text-align:justify;">Компания "<strong>Compass CAEG</strong>" пришглашает вас посетить поистине удивительный и прекрасный уголок нашей планеты. Край, где в тени величавых гор пролегает “Шелковый путь” - нить, прочно связавшая восток и запад на долгие века. Путь просвещения, культурного обмена и торговли породил на своем пути города и крепости, сохранившиеся до наших дней и готовые поведать вам свою историю. Мы, будем рады составить вам компанию в вашем путешествии.</p>
	
				<p style="text-align:justify;">Если же в вас кипит кровь и жажда приключений тянет вас в новые и неизведаные края. Нам есть что вам предложить - скальный и ледовый альпинизм любой категории сложности, высотные восхождения на семитысячники, пешые и конные туры, спуск по горным рекам и многое другое. Мы будем надежным партнером в вашем приключении.</p>
			</div>
	
			<div class="span6">
				<a href="{{ STATIC_URL  }}img/kyrgyzstan-political-map.jpg" id="index-map">
					<img src="{{ STATIC_URL  }}img/kyrgyzstan-political-map-small.jpg" />
				</a>
			</div>
		</div>

		<div class="row">
			<div class="span4">
				<h3>Услуги</h3>
				<ul>
					<li>
						Транспортные
						<ul>
							<li>Трансферы</li>
							<li>Встреча в аэропорту</li>
						</ul>
					</li>
					<li>Сити тур</li>
					<li>Визовая поддержка</li>
					<li>Бронирование гостиниц</li>
				</ul>
			</div>
			<div class="span4">
				<h3>Проведение программ</h3>
	
				<ul>
					<li>Треккинговых</li>
					<li>Альпинизм</li>
					<li>Heli-Ski</li>
					<li>Велотуры</li>
					<li>Конные туры</li>
					<li>Путешествие по Великому Шелковому Пути</li>
				</ul>
	
			</div>
			<div class="span4">
				<h3>Контакты</h3>
				<dl>
					<dt>Email:</dt>
					<dd></dd>
					{#<dt>Tel.:</dt>#}
					{#<dd> +(996 312) 35 29 11</dd>#}
				</dl>
			</div>
		</div>
